<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Create a New Landmark</h1>

<form action="/landmarks" method="POST">
  <label for:"Name">Name:
  
  
  
  <input type="text" id="landmark_name"  name="landmark[name]" ></label><br>

  <label for:"year_completed">Year Completed:
  

  
  <input type="text" id="landmark_year_completed"  name="landmark[year_completed]" ></label>
  <br>



  
  

  <input type="submit" value="Create New Landmark">
</form>


</body>
</html>

